.menuTilte{
    width: 100%;
    text-align: center;
}
.icon{
    display: inline-block;
    width: 52px;
    height: 52px;
    background-image: url("../images/favicon.ico");
    background-repeat: no-repeat;
    background-size: cover;
   position: relative;
   top: 18px;
   margin: 0 30px;
   
}
.container_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 0 20px;
    width: 100%;
}